
*{
	font-family: Lato;
	p, li{
		color: var(--main-white);
	}
}
body{
	margin: 0!important;
	background: var(--main-bg-color);
}
.text-orange{
	color: var(--color-orange);
}
.bg-orange{
	background-color: var(--color-orange);
}
main{
	width: 100vw;
	margin: auto;
	background-color: #1E1F22;
	min-height: 100vh;
}
.container{
	max-width: 1410px;
	margin: auto;
}
.navigation{
	margin:0 25px;
	padding-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	div{
		border-radius: 8px;
		width: 30vw;
		height: 10vw;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		transition: ease-in-out 0.2s;

		&:hover{

			transition: ease-in-out 0.2s;
			box-shadow: 1px -1px 35px -1px rgba(255,77,41,0.75);
		}
		a{
			color: #1E1F22;
			font-size: 1.5rem;
		}
	}
}

