


*{

	p, li{
		color: var(--main-white);
		margin: 0;
		padding: 0;
	}
}
body{
	width: 100%;
	margin: 0!important;
	background-color: var(--body-color)!important;
	overflow-x: auto;
}
.text-orange{
	color: var(--color-orange);
}
.bg-orange{
	background-color: var(--color-orange);
}
.text-white{
	color: var(--main-white);
}
.text-orange{
	color: var(--color-orange);
}
.uppercase{
	text-transform: uppercase;
}
main{

	margin: auto;
	//background-color: white;
	min-height: 100vh;
}
.container{

	max-width: 1450px!important;
	margin: auto;
	position: relative;
	padding: 0 15px;

	@media screen and (max-width: 1440px) {
		max-width: 100%;
		padding: 0 10px;
	}

}

.container_xl{
	padding: 0 30px;
	position: relative;
	max-width: 1700px;
	margin: auto;

	@media screen and (max-width: 1440px) {
		padding: 0 15px;
	}
}

.navigation{
	margin:0 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	div{
		border-radius: 8px;
		width: 30vw;
		height: 10vw;
		background-position: center;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		transition: ease-in-out 0.2s;

		&:hover{

			transition: ease-in-out 0.2s;
			box-shadow: 1px -1px 10px -1px rgba(236, 222, 220, 0.75);
		}
		a{
			color: #1E1F22;
			font-size: 1.5rem;
		}
	}
}
.title_container{
	position: relative;
	height: 142px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.section_title{
		text-align: start;
	}
	.btn_arrow{
		position: absolute;
		top: 0;
		right: 0;
		width: 140px;
		height: 140px;
		border-radius: 50%;
		border: 1px solid var(--border-color);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--lazy-dark-color);
		cursor: pointer;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
.section_title{
	font-family: 'BenzinExtraBold', sans-serif;
	font-size:50px;
	color: var(--main-white);
	line-height: 64px;
	text-transform: uppercase;
	@media screen and (max-width: 768px) {
		font-size: 26px;
		max-width: 70%;
		margin: 0;
		line-height: 32px;
		letter-spacing: 1px;
		padding:10px 0;

	}
	span{
		color: var(--color-orange);
	}
}
.swiper-container-wrapper {
	position: relative!important;
	display: flex!important;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 768px) {
		padding: 10px;
	}
}
.swiper-wrapper{
	position: relative;
	//min-height: 541px;

}
.swiper {
	width: 100%;
	height: 100%;
	//min-height: 541px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%!important;
	min-height: 100%!important;

}
.swiper-pagination-bullet{
	border: 1px solid #737373;
	background-color: #1A1B1D;
	width: 9px!important;
	height: 9px!important;
	opacity: 1!important;
	margin: 0 5px!important;
}
.swiper-pagination{
	bottom: 10px!important;
	min-height: 30px!important;
	display: flex!important;
	align-items: center;
	justify-content: center;
}
.swiper-pagination-bullet-active{
	border: 1px solid var(--color-orange);
	background-color: var(--color-orange)!important;
	transition: ease-in-out 0.2s;
	width: 13px!important;
	height: 13px!important;
}
.swiper-button-prev, .directions-swiper-button-prev, .swiper-button-next.articlesPrev{
	position: absolute;
	width: 50px!important;
	height: 50px!important;
	left: 7%!important;
	transition: ease-in-out 0.2s;

	@media screen and (max-width: 768px) {
		display: none!important;
	}
	@media screen and (min-width: 768px) and (max-width: 1500px) {
		display: none!important;
	}
	@media screen and (min-width: 1500px) and (max-width: 1600px) {
		left: 1%!important;
	}
	&:hover{
		transform: scale(1.1);
		transition: ease-in-out 0.2s;
	}
	&:after{
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		border: none;
		width: 50px!important;
		height: 50px!important;
		font-size: 24px!important;
		color: white;
		content: url("../images/icons/slide-prev.svg")!important;
		border-radius: 100%;
		background-color: var(--bg-arrows);
		line-height: 0!important;
	}

}
.swiper-button-next, .directions-swiper-button-next, .swiper-button-next.articlesNext{
	position: absolute;
	width: 50px!important;
	height: 50px!important;
	right: 7%!important;
	transition: ease-in-out 0.2s;

	@media screen and (max-width: 768px) {
		display: none!important;
	}
	@media screen and (min-width: 768px) and (max-width: 1500px) {
		display: none!important;
	}
	@media screen and (min-width: 1500px) and (max-width: 1600px) {
		right: 1%!important;
	}
	&:hover{
		transform: scale(1.1);
		transition: ease-in-out 0.2s;
	}
	&:after{
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		border: none;
		width: 50px!important;
		height: 50px!important;
		font-size: 24px!important;
		color: white;
		content: url("../images/icons/slide-next.svg")!important;
		border-radius: 100%;
		background-color: var(--bg-arrows);
		line-height: 0!important;

	}

}

.pagination{
	margin: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-white);
	.pagination_items{
		display: flex;
		gap: 10px;
		background-color: var(--second-bg-color);
		border-radius: 50px;
		padding:2px;
	}
	.pagination_item_dots{
		width: 50px;
		height: 50px;
		font-family: 'BenzinMedium',sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 768px) {
			width: 30px;
			height: 30px;
		}
	}
	.pagination_item{
		width: 50px;
		height: 50px;
		padding: 5px;
		font-family: 'BenzinMedium',sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		font-size: 14px;
		@media screen and (max-width: 768px) {
			width: 30px;
			height: 30px;
		}
	}
	.pagination_item.active{
		background-color: var(--lazy-dark-color);
		border: 1px solid var(--border-color);
		color: var(--color-white);
		text-align: center;
		transition: all 0.8s ease-in-out;

	}
	.pagination_btn{
		margin: 0 10px;
		background-color: var(--lazy-dark-color);
		border: 1px solid var(--border-color);
		border-radius: 50%;
		padding: 5px;
		color: var(--color-white);
		text-align: center;
		transition: all 0.8s ease-in-out;
		width: 50px;
		height: 50px;
		font-family: 'BenzinMedium',sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@media screen and (max-width: 768px) {
			width: 30px;
			height: 30px;
		}
		img{
			@media screen and (max-width: 768px) {
				width: 15px;
				height: 15px;
			}
		}
	}
}


.m-hide{
	display: block;
	@media screen and (max-width: 768px){
		display: none!important;
	}
}
