@font-face {
	font-family: BenzinBold;
	font-display: swap;
	src: url("../fonts/BenzinBold.woff2") format("woff2");
	font-weight: 400 800 ;
	font-style: normal;
}

@font-face {
	font-family: BenzinExtraBold;
	font-display: swap;
	src: url("../fonts/BenzinExtraBold.woff2") format("woff2");
	font-weight: 400 800;
	font-style: normal;
}

@font-face {
	font-family: BenzinMedium;
	font-display: swap;
	src: url("../fonts/BenzinMedium.woff2") format("woff2");
	font-weight: 400 800;
	font-style: normal;
}

@font-face {
	font-family: BenzinRegular;
	font-display: swap;
	src: url("../fonts/BenzinRegular.woff2") format("woff2");
	font-weight: 400 800;
	font-style: normal;
}

@font-face {
	font-family: BenzinSemibold;
	font-display: swap;
	src: url("../fonts/BenzinSemibold.woff2") format("woff2");
	font-weight: 400 800;
	font-style: normal;
}

