:root {
	// Семейство шрифта по умолчанию
	--bs-font-family: "BenzinExtraBold", sans-serif;

	// Размер шрифта по умолчанию
	--bs-font-size: 16px;

	// Жирность шрифта по умолчанию
	--bs-font-weight: 700;

	// Базовая высота шрифта
	--bs-line-height: 1;

	// Цвет шрифта по умолчанию
	--main-bg-color: #28292D;
	--second-bg-color: #19191B;
	--color-orange: #fa4924;
	--color-orange-hover: #df2626;
	--bg-arrows: #28292D;
	--bg-text-opacity:#28292D80;
	--main-white: #fff;
	--color-white: #fff;

	--black-color: #131313;
	--gray-color: #353538;
	--bs-shadow: 0px 2px 3px #{rgba(#000, 10%)}, 0px 8px 3px #{rgba(#000, 10%)};
	--hover-shadow: 0 0 5px 0 #{rgba(#000, 10%)}, 0 0 10px 0 #{rgba(#000, 10%)}, 0 0 15px 0 #{rgba(#000, 10%)};
}
