.section_title{
	text-align: start;
	display: grid;
	@media screen and (max-width: 768px) {
		max-width: 100%!important;
	}
}
.application_section_container{
	background-color: var(--dark-bg-color);
	position: relative;

	input[type="text"]:focus,
	input[type="date"]:focus {
		border: 2px solid var(--color-orange);
		background-color: transparent;
		color: var(--text-grey);
		width: 100%;
		outline: none;
	}
	.application_section_content{
		position: relative;
		z-index: 2;
		padding: 25px;

		.application_title_container{

			text-align: center;
			.section_title{
				padding: 0;
				margin: 0;

				@media screen and (max-width: 768px) {
					margin: auto;
				}
			}
			p{
				font-family: 'BenzinRegular', sans-serif;
				font-size: 14px;
				color: var(--text-grey);
				padding: 0;
				margin: 0;
			}
		}
		.application_form{
			display: grid;
			gap: 25px;
			margin-top: 25px;
			padding: 45px;
			@media screen and (max-width: 768px) {
				padding: 0;
				display: block;
			}
			input[type="text"] ,{
				background-color: transparent;
				outline: none;
				border: 1px solid var(--main-bg-color);
				width: 100%;
				padding: 5px 10px;
				color: var(--main-white);

			}

			input{
				height: 40px;
				font-family: 'BenzinMedium', sans-serif;
				font-size: 14px;
			}


			.label{
				display: flex;
				align-items: center;
				gap: 10px;
				margin: 10px 0;
				color: var(--color-white);
				font-family: 'BenzinExtraBold', sans-serif;
				font-size: 14px;
				span:first-child{
					width: 30px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;

					border-radius: 100%;
					background-color: var(--color-orange);
				}
			}
			 .group_input{
				display: flex;
				width: 100%;
				gap: 50px;
				div{
					flex: 1 0 calc(30% - 25px);
				}
				@media screen and (max-width: 768px) {
					display: grid;
					gap: 0;
					width: 90%;

				}
			}
			input[type="file"] {
				display: none;
			}


			.input_mail, .text_input{
				@media screen and (max-width: 768px) {
					width: 100%;
				}
			}
			.slide_description_button {
				width: 100%;
				display: flex;
				justify-content: center;



				@media screen and (max-width: 768px) {
					width: 90vw;
					margin-left: 0;
					margin-top: 20px;
				}

				.link_container {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: start;
					width: 192px;
					height: 57px;
					background-color: var(--color-orange);
					text-align: center;
					transition: all 0.8s ease-in-out;

					@media screen and (max-width: 768px) {
						width: 70%;
						margin: auto;
					}

					&:hover {
						background-color: var(--color-orange-hover);
						width: 320px;
						transition: all 0.8s ease-in-out;

						button::after {
							transform: translateX(50%);
							opacity: 1;
						}
					}

					button {
						width: 100%;
						color: var(--color-white);
						font-family: 'BenzinMedium',sans-serif;
						font-size: 12px;
						text-transform: uppercase;
						text-decoration: none;
						transition: all 0.8s ease-in-out;
						text-align: center;
						white-space: nowrap;
						background-color: transparent;
						border: none;

						&::after {
							content: url("../images/icons/arrow.svg");
							position: absolute;
							transform: translateX(100%);
							opacity: 0;
							color: var(--color-white);
							font-size: 15px;
							transition: all 0.5s ease-in-out;
							pointer-events: none;
						}
					}
				}
			}
		}
	}
}
