.swiperSection{
	padding: 75px!important;
	@media screen and (max-width: 768px) {
		padding: 15px!important;
	}
}
.swiper-button-next{
	right: 0!important;
}
.swiper-button-prev{
	left: 0!important;
}
.container{
	max-width: 1433px;
	background-color: var(--second-bg-color);


}
.swiperTitle{
	text-align: center;
	font-family: 'BenzinExtraBold', sans-serif;
	text-transform: uppercase;
	font-size: 68px;
	color: var(--main-white);

	@media screen and (max-width: 768px) {
		max-width: 90%;
		margin: auto;
		font-size: 32px;
	}
}
.directionsSwiper{


	.swiper{
		width: 100% !important;
	}
	.swiper-scrollbar{

		display: none;
		opacity: 1!important;
		@media screen and (max-width: 1450px) {
			display: block;
		}
	}
	.swiper-scrollbar-drag{
		background-color: var(--color-orange);
		display: block;
	}
	.slide_img{
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 294px;
		height: 200px;

		object-fit: cover;
		object-position: center;
		img{
			max-width: 100%;
			max-height: 200px;
			margin: auto;
		}
	}
	.swiper-wrapper{
		max-width: 90%!important;
		margin: auto;
		position: relative;
		padding: 30px 0;

		@media screen and (max-width: 1450px) {
			max-width: 98%!important;
		}
		@media screen and (max-width: 768px) {
			max-width: 95%!important;
		}
	}
	.swiper_bg{
		width: 92%;
		height: 120%;
		margin: auto;
		inset: 20px;
		background-color: var(--second-bg-color);
		position: absolute;
		z-index: -1;
		@media screen and (max-width: 1450px) {
		width: 100%;
			inset: 0;
		}
	}
	.swiper-slide{
		border: 1px solid var(--main-bg-color);
		//max-width: 314px;

		background-color: var(--lazy-dark-color);
			@media screen and (max-width: 768px) {
				margin:20px 10px;
				max-width: 253px;
			}
		:hover{
			.slide_description_button{
				display: flex;
			}
			.slide_description_text{
				display: none;
			}
		}
	}
	.slide_title{
		font-family: 'BenzinSemibold';
		font-size: 18px;
	}
	.slide_container{
		background-color: var(--lazy-dark-color);
		text-align: start;
		padding: 10px;
		min-height: 450px;


	}
	.slide_info{
		background-color: var(--dark-bg-color);
		padding: 20px;

		.slide_info_item{
			font-family: 'BenzinRegular';
			font-size: 14px;
			display: flex;
			gap: 10px;
			align-items: center;

			p{
				margin: 2px;
				color: var(--text-grey);
			}
		}
	}
	.slide_description_container{
		margin: 20px 0;
		position: relative;
		.slide_description_text{

			display: flex;
			align-items: start;
			gap: 10px;
			font-size: 12px;
			span{
				font-family: BenzinExtraBold;
				color: var(--color-white);
			}
			p{
				padding: 0;
				margin: 0;
				color: var(--text-grey);
			}
		}
		.slide_description_button {
			position: absolute;
			width: 100%;
			margin: auto;
			display: none;
			justify-content: center;
			align-items: flex-end;

			@media screen and (max-width: 768px) {
				width: 100%;
			}

			.link_container {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 57px;
				background-color: var(--color-orange);
				font-family: 'BenzinMedium';
				font-weight: 400;
				text-align: center;
				transition: all 0.8s ease-in-out;

				@media screen and (max-width: 768px) {
					width: 100%;
				}


				a {
					width: 100%;
					color: var(--color-white);
					font-size: 12px;
					text-transform: uppercase;
					text-decoration: none;
					transition: all 0.8s ease-in-out;
					text-align: center;
					white-space: nowrap;


				}
			}
		}
	}

}
